<tr>
        <td><%= product.sku %></td>
        <td><%= product.wholesale_price %></td>
        <td><%= product.inventory %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
        <td><%= link_to 'Update Inventory', update_inventory_product_path(product) %></td>
      </tr>
